.fa
  %h2.heading2 
    = "اسلایدر"
  -if is_admin?
    = link_to content_tag("span", "عکس جدید"), new_slider_path
  .index-slider.set-center 
    = render 'slider'            
    
      
      
  :javascript
    $(".item").first().addClass("active");
    $('.carousel').carousel();
