.fa  
  %h1= 'اسلایدر'
  %p
    %i= 'عکس مورد نظر را انتخاب نموده و در صورتی که می خواهید عکس در اسلایدر بخش مشخصی قرار بگیرد آن بخش را انتخاب کنید'
  %hr
  .width80
    = render 'form'
  .clr-float
   
  = link_to 'بازگشت', sliders_path

