
-if is_admin?  
  .admin-edit-del
      
    = link_to content_tag("span", "ویرایش"), edit_slider_path(@slider)
    \|    
    = link_to 'حذف', @slider, :method => :delete, :data => { confirm: 'آیا میخواهید این  تصویر را حذف کنید?'} 

  
.fa
  .show-slider    
    = image_tag @slider.image(:gallery_size), :width => "100%", :height => '100%'
    = @slider.description
   

    
