.col-sm-12
  %p= link_to 'مشاهده حساب ها', AmountRemain
  %p= link_to 'مشاهده پروفایل', current_user
  %p= link_to 'ویرایش پروفایل کاربر', edit_user_path(current_user)
  %p= link_to "خروج", destroy_user_session_path, :method => :delete
  
