-if is_admin?
  .admin-link.fa
    %p= 'منوی صفحه'
    
    %hr
    = link_to 'ویرایش صفحه', edit_page_path(@page)
%div
  -if @page.read_attribute("title") == "Contact us"
   
    = render "shared/msg_form"
    



