-if is_admin?
  .admin-edit-del
    
    = link_to 'ویرایش صفحه', edit_page_path(@page)
.col-sm-12
  %h1= @page.title
  .col-sm-4
    = image_tag @page.image(:medium)
  
  .col-sm-8
    =raw @page.html_text
  %div
    -if @page.read_attribute("title") == "Contact us"
      .col-sm-8
        = render "shared/msg_form"
      



