.AccordionBox
  %ul
    - Category.all.each do |category|
      %li
        = image_tag category.image
        %div= category.description
        
    


:javascript 
  $(".item").first().addClass("active");
  $(".slide-indicator").first().addClass("active");
  $('.carousel').carousel();



