.container
  .masthead
    %h1.muted jQuery Scrollbox
  .body-content
    %h2 Example - 5
    #demo5.scroll-img
      %ul
        - Activity.all.each do |act|
          %li
            = link_to '#' do            
              = image_tag act.image(:small)
                
       
    #demo5-btn.text-center
      %button#demo5-backward.btn
        %i.icon-chevron-left
        Backward
      %button#demo5-forward.btn
        Forward
        %i.icon-chevron-right
        
:javascript  
  $(function () {
    $('#demo1').scrollbox();
    $('#demo2').scrollbox({
      linear: true,
      step: 1,
      delay: 0,
      speed: 100
    });
    $('#demo3').scrollbox({
      switchItems: 5,
      distance: 144
    });
    $('#demo4').scrollbox({
      direction: 'h',
      switchItems: 5,
      distance: 670
    });
    $('#demo5').scrollbox({
      direction: 'h',
      distance: 134
    });
    $('#demo5-backward').click(function () {
      $('#demo5').trigger('backward');
    });
    $('#demo5-forward').click(function () {
      $('#demo5').trigger('forward');
    });
    $('#demo6').scrollbox({
      direction: 'h',
      distance: 134,
      queue: 'demo6-queue'
    });
    var queueNext = 7;
    (function () {
      $('#demo6-queue ul').append('<li><p>'+ queueNext +'</p></li>');
      queueNext++;
      setTimeout(arguments.callee, 2000 + parseInt(Math.random() * 2000, 10));
    }());
  
    $('#demo7').scrollbox({
      linear: true,
      delay: 0,
      speed: 60,
      autoPlay: false,
      onMouseOverPause: false
    });
    $('#demo7-forward').mouseover (function () {
      $('#demo7').trigger('forwardHover');
    }).mouseout(function() {
      $('#demo7').trigger('pauseHover');
    });
  });
