%div{:style => "width => 300%; overflow:hidden"}
  #makeMeScrollable
    - Haram.all.each do |haram|
      = image_tag haram.image(:medium), :id => haram.image_file_name, :alt => haram.image_file_name

  
:javascript
  $(document).ready(function () {
  	$("#makeMeScrollable").smoothDivScroll({
  		mousewheelScrolling: "allDirections",
  		manualContinuousScrolling: true,
  		autoScrollingMode: "onStart"
  	});
  });
