
- @haram = Haram.all
- @haram.each do |slide|
  .item-row.item
    = link_to (image_tag slide.image(:medium), :id =>  slide.id ), slide, :class => "slide", :id => "right"
    -if is_admin?
      .row-controls
        = link_to edit_haram_path(slide) do
          %i.icon-edit
        = link_to  slide, :method => :delete, :data => { :confirm => 'آیا مطمئن هستید؟' }  do
          %i.icon-trash
          

= image_tag 'prev-icon.png', :id => "arrow-next"

:javascript
  
  $('#right').cycle();


  
    
