%div
  %h1= 'آیتم جدید حرم مطهر'
  %p
    %i= 'تصویری از بارگاه ملکوتی را انتخاب کنید تا به اسلایدر تصاویر حرم مطهر افزوده شود'
  %hr
  .width80
    = render 'form'

  = link_to 'بازگشت', harams_path
