/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require colorbox-rails   
 *= require_tree .
 */
 

.clr-float{ clear:both}

.en {direction:ltr; text-align:left; font-family:arial}
.fa {direction:rtl; text-align:right;font-family:'open_sansregular'}
.ar {direction:rtl; text-align:right;font-family:'open_sansregular'}

.set-center {margin-right:auto; margin-left:auto}
.float-left {float:left;}
.width50 {width:50%}
.width80 {width:50%}

header {
	position: relative;
	width: 100%;
	height: 275px;
	left: 0;
	top: 0;
	z-index: 15;  
 background: url('bg.png');
}
#header-top {
  height:100%;
  background-image: radial-gradient(circle, #15001C, #15001C, #000000);
		opacity: .8;
    
}
header .language {height:40px; width:100px; 
position: absolute;
top:-2%;
background:url('blackorchid.png') repeat-x;
float:left;
text-align:center;
border-bottom-right-radius:1.5em;
border-bottom-left-radius:1.5em;
margin-left:100px;
transition: all 0.5s ease;
padding-top:2px;
}
header .language  .lan-title {font-size:9px; color:#fff; }
header .language:hover {top:0; cursor:pointer}
header #logo-menu { 
  width:40%; text-align:center; height:100%; top:0;
left: 30%;
right: 30%;
position:absolute;
 }
header #logo-menu #logo{ float:left; width:100%;  }
header #logo-menu .title-site{ float:left; width:70%; color:#FFFF00; text-align:center; 
text-shadow: 1px 1px 1px #000, 3px 3px 5px #FFA500;

  }
.main {position:relative; 
color:#F4F4A1;
width: 100%;
  height: 100%;
  background: url('bg.png');
  }
.main:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;    
		background-image: radial-gradient(circle, #3D0C46,#34103A, #15001C, #000000);
		opacity: .8; 

}
.main #mainmenu {
 
  height:60px;
  padding-top:1.1%;
  position:relative;
  z-index:100;
  margin-top:-3%;  
  border-radius:2em;
  background-image:url('MENU.png');
  background-repeat:no-repeat;
  background-position:center; 
  margin-bottom:3%;
}

.main  .top-vin {background-image:url('top-slide.png');
  margin-top:1%;
}
.main .slider-vintage {
  text-align:center;
  background-repeat:no-repeat;
  background-position:center; 
  width:100%; 
  height:85px; 
  text-align:center; 
  position:absolute; 
  z-index:13;
  }
 
.main  .bottom-vin {background-image:url('bottom-slider.png');  margin-top:-4.5%; }


.main #mainmenu  ul {list-style:none;
  min-width:50%;
  max-width:50%;  
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  padding-top:5px}
.main #mainmenu  ul li{display:inline; min-width:150px; padding:10px;
  
  font-size:11px;font-weight:bold;
  margin:10px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.main #mainmenu  ul li:hover, .main #mainmenu  ul li.active{
  background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(248,181,0,1) 19%, rgba(248,181,0,1) 50%, rgba(248,181,0,1) 87%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(19%,rgba(248,181,0,1)), color-stop(50%,rgba(248,181,0,1)), color-stop(87%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 19%,rgba(248,181,0,1) 50%,rgba(248,181,0,1) 87%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 19%,rgba(248,181,0,1) 50%,rgba(248,181,0,1) 87%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 19%,rgba(248,181,0,1) 50%,rgba(248,181,0,1) 87%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 19%,rgba(248,181,0,1) 50%,rgba(248,181,0,1) 87%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
color:#1A1A1A;
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
.main #mainmenu  ul a {color:#F6F694}
.main #mainmenu  ul a:hover {color:#1A1A1A; margin-top:-1px }
/* AccordionBox  */

.main .slider  .reserv {
z-index:20;
 position:fixed;
 background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(248,181,0,1) 49%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(49%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

color:#1A1A1A;
  /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
border-bottom-right-radius:9px;
border-bottom-left-radius:9px;
top: 25%;
left:-33px;
padding-top:1%;
width:100px;
height:50px;
text-align:center;
-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.main .slider  .reserv:hover { cursor:pointer; left:-25px;}
.AccordionBox {width:100%;
  position:relative;
  min-height:470px;
  max-height:470px;    
  
}

.main #mainmenu  .submenu {
  background:#1A1A1A;
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  position: absolute;
  color:#fff;
  z-index:50;
  text-align:center;
  display: none;  
  margin-top:3%;
  margin-right:7%;
  
}
.main #mainmenu  .submenu .submenu-item {text-align:center}
.main #mainmenu  .submenu .submenu-item:hover a{color:#FFA500;}

.background {margin-top:5%}
.AccordionBox ul { overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }
.AccordionBox ul li{
  float: right;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color:#fff;
  border: 1px solid #332E29;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 4px;
  width: 12%;
  height: 372px;
  transition: all 0.5s ease;
}
.AccordionBox ul li img.sample-image {height:370px; }
.AccordionBox ul li.active {width:420px}
.AccordionBox ul li .cat-title {margin-top:-75%; 
  height:40%;
 background:#1A1A1A; opacity:.7; 
  filter:alpha(opacity=70); /* For IE8 and earlier */
  transition: all 0.5s ease;
}
.AccordionBox ul li .cat-title p {
  padding:1%;
  margin:4%;
  }
.AccordionBox ul li.active .cat-title { margin-top:-30%}
/* style for actitviteis*/

.show {margin-right:-40%;}
.new-box {width:100%; padding:10px; border-top:#BFBFBF; border-bottom:#BFBFBF}
.new-box  .activities {
  width:200%;  
  margin-left:1%; 
  overflow:hidden; 
  min-height:300px;  
  color:#fff; 
  max-height:300px}
.new-box  .activities ul.slides {list-style:none; width:60%; overflow:hidden; height:300px;}
.new-box  .activities ul.slides li{float:right; width:30%; padding:.5%; height:100%;
  text-align:center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.new-box  .activities ul.slides li .activity-title {width:95%; height:10%; padding:1%; color:#FFA500; margin-top:1%; text-align:center; font-size:16px}
.new-box  .activities ul.slides li .activity-des {width:95%; height:25%; margin-top:5%; padding:1%; line-height:1.5em; overflow:hidden; text-align:justify}
.new-box  .activities ul.slides li img.act-pic {width:95%; height:50%; border:#4D4D4D 2px solid;
  border-radius:9px;
  padding:2%;
}

.haram-pic{
  position: relative;
  width:30%; 
  float:right; border:#332B2B 2px solid; border-radius:2px; height:300px; padding:2px; margin:10px; overflow:hidden}
.haram-pic .haram-box{width:95%; max-height:95%; min-height:95%; overflow:hidden}
 .haram-description {background:#1A1A1A; opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  color:#fff;
  margin-top:-13%;
  padding:4%;  
  height:50px;
  }
.haram-pic  .item {text-align:center;}
.haram-pic  .item img.slide{width:100%;}

.more{
  color:#FFA500;
  width:45%;
  height:25px;
  
  margin:2%;
  padding:1%;
  float:left;  
  border-radius: 3px;  
  text-align:center;  
  position:relative;
  background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

.more a{color:#FFFFFF;}
.more .inside-border { width: 98%;
  height: 95%;
  border-radius: 3px;  
  padding-top:2%;
  border: #555 solid 1px;
}
.more:hover a{color:#1A1A1A;}
.more:hover .inside-border {
  
  background: rgb(252,234,187); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(248,181,0,1) 49%, rgba(251,223,147,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(49%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 49%,rgba(251,223,147,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
  
  }
.category-info {
  max-width:30%;
  min-width:30%; 
  float:right; 
  min-height:100%;
  max-height:100%;
  background:#4D4D4D; 
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  color:#e5ec6f; 
  }
.category-info p {text-align:justify}
.product-pics { margin:5px; float:right; min-width:200px; max-width:200px; text-align:center; }

.download {background:#1A1A1A; 
  text-align:center;
  width:90%;
  height:20px;
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  color:#e5ec6f}
.download a{color:#e5ec6f}
.download a:hover{color:#DEFF00}



span.Necessary {color:#F33535}
.footer-menu ul li.head b {color:#FFFFFF; text-shadow: 1px 1px 1px #000, 3px 3px 5px #FFA500; }
.footer-menu ul li a {color:#e5ec6f}

.footer-menu ul li a:hover {color:#DEFF00}
.admin-icon {
  width: 100px; 
  background:#1A1A1A; 
  float: left; 
  height:370px; 
  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  display: none}
#content:hover .admin-icon{display: block}
.show-pro {
  min-width:90%; min-height:90%; 
  max-width:90%; max-height:90%; 
  text-align:center;    
  }

.box-3 {     
  font-size:12px;
  bottom: 0; 
  z-index: 600;
  background:#200120; 
  color: white; 
  padding: 5px; 
  opacity: .8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  min-height:350px; 
  max-height:350px; 
  margin:30px;
  float:right; 
  width:28%; 
  text-align:center
}
.box-4 {     
  font-size:10px;
  bottom: 0; 
  z-index: 600;
  background:#aba906; 
  color: white; 
  padding: 5px;
  opacity: .8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  min-height:70px; 
  margin:30px;
  float:right; 
  width:20%; 
}

.box-4 img {width:100%}
.box-3 img {width:95%}
.box-3 p {text-align:center; font-size:20px}

.show-pro .box-menu {
  background:#4D4D4D;    
  width:1px;
  min-height:80px;
  max-height:80px;
  overflow:hidden;    
  margin-top:-80px;
  padding:5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position:relative;
}
.show-pro .box-menu ul {list-style:none;}
.show-pro .box-menu a {color:#E5EC6F; }
.show-pro .box-menu a:hover {color:#DEFF00}
.show-pro .box-3:hover .box-menu{ width:100%}
.box-menu .arrow-vertical {
  width:5px; 
  background:#4D4D4D; 
  height:100%}
.cer-title {text-align:center}

.info-form {width: 100%; height:400px; overflow-y:scroll; padding-top:5px}
.info-form .title-put{width: 100%; height:30px; padding:2px;  text-align:center}
.category-link a:hover{color:#4D4D4D}
.products {width: 90%}
.products  .pro_wrapper {display: inline-block;
    float: left;
    min-height: 170px;
    max-height: 170px;
    margin: 30px;
    overflow: hidden;
    padding: 0;
    width: 250px;
    text-align:center}
.products  .pro_wrapper a.model-link{width:100%}
.products  .pro_wrapper img {width: 80%}
.products  .pro_wrapper .pro-info {
  text-align:center;  
  min-height:100px;
  max-height:100px;
  overflow:hidden;
  width:90%
  }
.products  .pro_wrapper .pro-info p {
  text-align:center; 
  margin:0px; 
  }

.pro_wrapper .line b {color:#4D4D4D; margin-top:10px; }
.line {width:100%;  text-align:center; }
.slider {height:40%; margin-top: 6%; z-index:10}


.slider  .cycle-overlay {
  text-align:center; 
  width: 40%; 
  position: relative; 
  left: 30%; 
  top:200px;
  }  
.content {position:relative; width:80%; min-height:300px; margin-top:20px}
.row .cycle-overlay {margin-bottom:2px}
#category-details {max-width:70%; min-width:70%; float:right}
#category-details .details {    
  min-height:438px; 
  max-height:438px;   
  font-size:12px;
  bottom: 0;  
  width:100%;
  display:none;
  color: white; padding: 5px; 
  padding:5px}
#category-details  .bg-opacity {background:#4D4D4D;opacity: .8;
filter:alpha(opacity=80); /* For IE8 and earlier */}
#category-details #pictures {display:block}
.slider .hero-unit {width: 100%; max-height: 441px; position:relative;}
.slider .hero-unit .carousel-inner {height: 441px; overflow:hidden}

.hero-unit .image-des-holder {
  margin-top:-20px; 
  background-color:#FFA500; 
  color:#000; 
  position: absolute;}
.content-holder{ max-height: 540px; overflow: hidden;}
.category-image{max-height: 300px; min-height:300px}
.carousel-control img {margin-top: 200px}
table.table  tr {text-align:right;}
table.table  tr th {max-width: 120px; text-align:right}
table.table  tr th.count {width: 50px;}
table.table tr.visited {font-weight:bold}
.footer-admin {
  float:right; 
  direction:rtl; 
  text-align:right;
  font-family:'open_sansregular'; 
  min-width:20%; 
  height:100%}
.footer-admin .col-sm-6 {border-right: 2px solid #deff00}
.footer-admin a {color:#e5ec6f;}
.footer-admin a:hover {color:#DEFF00}

.admin-link {
  height:20px; 
  margin-top: -5%;
margin-right: 60%;   
  width:200px; 
 z-index:10;
  direction:ltr;
  border-top-right-radius:1.5em;
  border-top-left-radius:1.5em;
  position:absolute;  
  overflow:hidden; 
background: rgb(251,223,147); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(251,223,147,1) 0%, rgba(248,181,0,1) 55%, rgba(252,205,77,1) 56%, rgba(252,234,187,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,223,147,1)), color-stop(55%,rgba(248,181,0,1)), color-stop(56%,rgba(252,205,77,1)), color-stop(100%,rgba(252,234,187,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 55%,rgba(252,205,77,1) 56%,rgba(252,234,187,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 55%,rgba(252,205,77,1) 56%,rgba(252,234,187,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 55%,rgba(252,205,77,1) 56%,rgba(252,234,187,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(251,223,147,1) 0%,rgba(248,181,0,1) 55%,rgba(252,205,77,1) 56%,rgba(252,234,187,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbdf93', endColorstr='#fceabb',GradientType=0 ); /* IE6-9 */

  opacity:.8; 
  filter:alpha(opacity=80); /* For IE8 and earlier */
  text-align:center;
  -webkit-transition:all 1s; /* For Safari 3.1 to 6.0 */
  transition:all 1s;}
.admin-link:hover{ min-height:150px ; cursor:pointer; display:block}
.admin-link a {color:#1A1A1A}
.admin-link p {color:#1A1A1A}
.admin-link a:hover {color:#4D4D4D; text-shadow: 1px 1px 1px #000, 3px 3px 5px #F92323;}
.category-bg { 
  height:100%; 
 /* background:url('vintage-wallpaper-2.jpg') ; */
  }

.info-holder{ 
  width:100%; 
  height:100%;
 
}
fieldset legend span {color:#F8F85F;}
#content form.new_category {height:400px}
.edi-slider-holder {margin-right:-11% }
.show-slider {width:1286px; height:441px; margin-right: -10%;}
.index-slider {width:123%;
margin-right: -10%;
}
.admin_menu {
top:0;
right:1px;
min-width:25%; max-width:25%; height:50px;  -webkit-transition:all 1s; /* For Safari 3.1 to 6.0 */
  transition:all 1s; overflow:hidden; color:#FFA500; 
background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
text-align:right;
border-bottom-right-radius:1.5em;
border-bottom-left-radius:1.5em;
z-index:150;
position:fixed;
 }
.admin_menu a {color:#FFA500; }
.admin_menu a:hover {color:#1A1A1A; text-shadow: 1px 1px 1px #000, 3px 3px 5px #F92323; }
.admin_menu:hover {height:200px;cursor:pointer;}  
.admin_menu h3 {text-align:center}
.go-up {margin-top:-75px; z-index:10; width:90%; text-align:center; color:#4d4d4d; font-weight:bold; margin-bottom:75px}
.cat-link { bottom:0}
.robbin { margin-top:-32px}
.robbin .model-title{ margin-top:-25px; color:#4d4d4d}
ul#banner { position: fixed; line-height: 45px; margin: 0 30px; padding: 0; }

/*.scroll {margin-right:400px; width:8000px}*/

/* footer   */

footer {
position:absolute;
width:100%;
 background: url('bg.png');
 height:150px;
}
#footer-bottom {
  height:100%;
  background-image: linear-gradient(to top, #15001C, #15001C, #000000);
		opacity: .8;
}
footer .footer-menu { width:70%; height:100%; margin-top:-12%; position:absolute;
 margin-right:22%;
 margin-left:22%;
 padding-top:2%;
 }
footer .footer-menu ul.total{width:90%; list-style:none;}
footer .footer-menu ul.total li{width:30%; float:right}
footer .footer-menu ul.total li ul{width:100%; list-style:none;}
footer .footer-menu ul.total li ul li{width:100%; margin:5px}
footer .footer-menu ul.total li ul li.head{margin-bottom:15px}
footer .footer-admin {float:right; width:30%; height:100px}

.input-form {background:#4D4D4D;}
.index-category {border-radius:5px;}
.show-item {
  padding:1%;
  margin:7% 1%;
  
}
.show-item img.resize-img {
  border-radius:5px;
  width:100%;
  height:50%;
  border:2px solid #4D4D4D;
  padding:2%;
  -moz-box-shadow:    3px 3px 15px 0px #444;
  -webkit-box-shadow: 3px 3px 15px 0px #444;
  box-shadow:         3px 3px 15px 0px #444;
}
.show-item img.top-left-corner {position:absolute;

margin-top: -3%;
}
.show-item img.bottom-right-corner {
  position:absolute;
  margin-top: 15%;
  margin-right:-6%;
}
 
/* slider haram   */
#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}

a.button {
   display: -moz-inline-stack;
   display: inline-block;
   width: 175px;
   height: 47px;
   background: url("http://dabuttonfactory.com/b.jpeg?t=Our%20Teem%20&f=Komika-Italic&ts=34&tc=ffffff00&it=jpeg&c=round&bgt=pyramid&bgc=e7eaf0&ebgc=274f08&bs=1&bc=b3b8af&hp=20&vp=11") no-repeat;
   line-height: 47px;
   vertical-align: text-middle;
   text-align: center;
   color: #ffffff;
   font-family: Komika;
   font-size: 34px;
   font-weight: normal;
   font-style: italic;
   text-shadow: none;
}
a.button > span {
   display: -moz-inline-block;
}
.form-group select {color:#000}
.show-room {margin:2%; text-align:center; height:200px; }
.show-room img.pro-image{ position: absolute;
margin-right: 77%;
margin-top: -3%;}
.show-room img.show-room-pic{ width:90%; height:90%; border-radius:9px;
border:2px solid #1A1A1A;
}
.show-room img.border-top-left{float:left}

.about-us { height:250px; overflow:hidden; text-align:center;}
.about-us img{width:90%}
.about-us p{height:25%}
.about-us h2{ padding-right:10%;}
a.admin-access:hover .admin-edit-del {color:#FFA500}

.admin-edit-del {

background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
 border-radius:5px; color:#fff;
 width:22%;
 height:40px;
 padding:1%;
 text-align:center;
 font-size:2em;
 
 }
.admin-edit-del a{color:#fff;}
.admin-edit-del a:hover{color:#FFA500;}
.category-show-description {height:150px;}
.see-more {width:10%;
text-align:center;
 height:25px; float:left; 
 background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
border-radius:3px;
padding:1px;
}
.see-more .border-see-more {
  border: #555 solid 1px;
  width:95%; height:90%;  
  border-radius:3px;
  padding:2%;
}
.see-more:hover .border-see-more {background: rgb(255,214,94); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
color:#1a1a1a;
}
.see-more:hover .border-see-more a {color:#1a1a1a}
.slide-haram ul {list-style:none; margin:1%; text-align:center; margin:0; padding:0;}
.slide-haram ul li{list-style:none; margin:1%; width:90%}
p.instead-slide-for-admin {color:#fff; background:#4D4D4D; text-align: center;
font-size: large;
height: 440px;
padding: 13%;}
.slider-edit-sull-screen {width:1286px; height:440px; margin-right: -10%; overflow:hidden}

ul.slider-boxes {
  top:50%;
  width:80%;
  height:10%;
  position:absolute;
  left:10%;
  list-style:none;
  position:absolute;
}
li.slider-text-box { 
  min-width:8%;
  max-width:8%;
  float:left;  
  height:80px; 
  text-align:center;
  margin:1%;
  border-radius:10px;   
  opacity:.7;
  background:#3B1345;
  -webkit-animation: spin 2s infinite; /*Safari and Chrome*/
  -webkit-animation-iteration-count: 1;  /* Safari and Chrome */
  animation: spin 2s infinite;
  animation-iteration-count: 1;  
}

@-moz-keyframes spin {
    from { left: 5% }
    to { left:20%}
}
@-webkit-keyframes spin {
    from { left:5%}
    to { left:20%}
}
@keyframes spin {
    from {left:5%}
    to {left:20%}
}
/*Safari and Chrome*/
@-webkit-keyframes mymove {
    from {top: 10%; }
    to {top: 30%; }
    
}

@keyframes mymove {
    from {top: 10%; }
    to {top: 30%;}
    
}
.animate-paused { 
  -webkit-animation-play-state: paused; /* Safari and Chrome */
    animation-play-state: paused;}

.slider-text-box:hover { margin-top: 1.5%; cursor: pointer}
.slider-text-box img {width:90%; height:70%}
.slider-text-box b {color:#fff;}
.slide-descript {  
  font-family:entezar_slide_box;
  background:#72158A; 
  font-size:2em; opacity:.7; position:absolute; margin-left:50%;
  text-align:center;
  padding:1%;
  color:#fff;
  height:40px; width:40%;
  top:30%;
   -webkit-animation: mymove 2s infinite; /*Safari and Chrome*/
    animation: mymove 2s infinite;
  -webkit-animation-iteration-count: 1;  /* Safari and Chrome */  
  animation-iteration-count: 1;
}




.hero-unit {height:100%}
.hero-unit .carousel.slide{height:100%}
.hero-unit .carousel.slide .carousel-inner{height:100%}
.carousel-contro  img.haram-arrow {margin-top:100px}
.category-define img.gold-line {margin-top:-1%}
h1.cat-title {
  margin-right:10%;
  margin-left:10%;

}
.cat-des {
  margin-right:20%;
  margin-left:20%;
   margin-top:-1%}
