@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/BYekan.eot');
    src: url('/assets/BYekan.eot?#iefix') format('embedded-opentype'),
         url('/assets/BYekan.woff') format('woff'),
         url('/assets/BYekan.ttf') format('truetype'),
         url('/assets/BYekan.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'entezar_slide_box';
    src: url('/assets/entezar.eot');
    src: url('/assets/entezarn.eot?#iefix') format('embedded-opentype'),
         url('/assets/entezar.woff') format('woff'),
         url('/assets/entezar.otf') format('otf'),
         url('/assets/entezar.ttf') format('truetype'),
         url('/assets/entezar.svg#entezar_slide_box') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
  font-family: 'open_sansregular';
}
