body {
  
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
  ::-webkit-scrollbar {
    width: 12px;  
  color:#FBFB71; 

  }
 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
 
  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
  }

  a {
    text-decoration:none; 
    color:#fff
  }
  a:hover, a:focus {color:#E5EC6F}

  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
  #makeMeScrollable div.scrollableArea *
  {
  	position: relative;
  	display: block;
  	float: left ;
  	margin: 0;
  	padding: 0;
  	/* If you don't want the images in the scroller to be selectable, try the following
  		block of code. It's just a nice feature that prevent the images from
  		accidentally becoming selected/inverted when the user interacts with the scroller. */
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none;
  }
}
