body {
  background: rgb(68,0,30); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(68,0,30,1) 0%, rgba(96,1,55,1) 46%, rgba(137,2,72,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,0,30,1)), color-stop(46%,rgba(96,1,55,1)), color-stop(100%,rgba(137,2,72,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(68,0,30,1) 0%,rgba(96,1,55,1) 46%,rgba(137,2,72,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(68,0,30,1) 0%,rgba(96,1,55,1) 46%,rgba(137,2,72,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(68,0,30,1) 0%,rgba(96,1,55,1) 46%,rgba(137,2,72,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(68,0,30,1) 0%,rgba(96,1,55,1) 46%,rgba(137,2,72,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44001e', endColorstr='#890248',GradientType=0 ); /* IE6-9 */

}
a {text-decoration:none; color:#F6F694}
a:hover {text-decoration:none}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    color:#000;
  }
  #makeMeScrollable div.scrollableArea *
  {
  	position: relative;
  	display: block;
  	float: left ;
  	margin: 0;
  	padding: 0;
  	/* If you don't want the images in the scroller to be selectable, try the following
  		block of code. It's just a nice feature that prevent the images from
  		accidentally becoming selected/inverted when the user interacts with the scroller. */
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-o-user-select: none;
  	user-select: none;
  }
}
