.fa
  %h1= 'تعریف بخش جدید ' 
  %p
    %i= 'از این قسمت می توانید بخش جدید به سایت اضافه کنید. این بخشها در صفحه اصلی زیر اسلایدر بصورت کشویی نمایش داده خواهد شد.'
  %hr  
  %div
    = render 'form'


