.fa
  %h1= "افزودن آیتم به یک بخش"
  %p
    %i= 'در این قسمت می توانید به هر بخش زیر گروه مربوطه را اضافه کنید.  '
  %hr
  - if flash[:SubValidate].present?
    .alert.alert-danger = flash[:SubValidate]
  = render 'form'

